*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.map
*.sym
*.a
*.dump
*.ddump
*.diff
build/
tools/agbcc
tools/scaninc/
tools/preproc/
tools/gbafix/
tools/ramscrgen/
tools/gbagfx/
tools/src/
.DS_Store
.idea/
Thumbs.db
baserom.gba
*.sa*
*.sgm
*.sna
.fuse_hidden*
